<app-breadcrumb-banner 
  [title]="'Shop Now'" 
  [subtitle]="'Discover our premium collection of men\'s fashion and footwear'"
  [showBreadcrumb]="true">
</app-breadcrumb-banner>

<!-- <div class="shop-bg">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-3 mb-4" *ngFor="let category of categories">
        <div class="card text-center category-card"
             [routerLink]="['/shop', category.value]">

          <div class="card-body">
            <h5>{{ category.label }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="shop-bg">
  <div class="container py-5">

    <div class="category-grid">
      <div 
        class="category-item"
        *ngFor="let category of categories"
        [routerLink]="['/shop', category.value]"
      >
        <div class="image-wrapper">
          <img 
            src="/assets/images/placeholder.jpeg" 
            alt="{{ category.label }}" 
          />
        </div>

        <h6 class="category-title">
          {{ category.label }}
        </h6>
      </div>
    </div>

  </div>
</div>