<div class="container py-5">
  <h2 class="text-warning mb-4">Checkout</h2>
  <form #checkoutForm="ngForm" (ngSubmit)="submitOrder(checkoutForm)">
    <div class="mb-3">
      <label class="form-label">Full Name</label>
      <input name="name" [(ngModel)]="order.name" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Address</label>
      <input name="address" [(ngModel)]="order.address" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" name="email" [(ngModel)]="order.email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Phone Number</label>
      <input name="phone" [(ngModel)]="order.phone" class="form-control" required>
    </div>

    <button class="btn btn-warning text-dark" [disabled]="checkoutForm.invalid">Place Order</button>
  </form>
</div>
